.MapGrid {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: rgba(100, 44, 9, 0.536);
    height: 43rem;
    width: 43rem;
    margin: 0;
    margin-right: -10rem;
}

.grid-save-button {
    display: inline-block;
    height: 43rem;
    margin: 0;
}